__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
*.egg-info/
.installed.cfg
*.egg
*.log
.DS_Store
*.swp
*.swo
*~
Downloads/
temp/
.env
.venv

